
.activitie {
    font-size: 14px;
    margin-bottom: 2px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.projects .blackDotactivitie {
    align-items: center;
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
}
.applicationprojectname-location {
    display: flex;
}
#location {
    margin-left: auto;
    font-weight: 300;
}
.startend {
    font-size: 13px;
    margin-bottom: 10x;
}
.department {
    margin-bottom: 10px;
}
.applicationprojectname-location p {
    font-weight: 800;
    font-size: 18px;
}

.activitie p {
    font-size: 16px;
    font-weight: 550;
}