.aboutMe-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.aboutme-header{
    align-self: center;
}
.aboutme-image-container img{
    width: 300px;
    height: 300px;
    align-self: center;
}